.nav_wrapper{
    width: 100%;
    padding: 20px 300px;



    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.nav_item{
    list-style-type: none;
}
.nav_item a{
    text-decoration: none;
    color: var(--primary-black);
}

.btn{
    width: 130px;
    height: 40px;
    background: var(--primary-blue);
    background-repeat: 4px;
    border: none;
    outline: none;

    color: var(--primary-white);
}