.newsletter{
    background-color: var(--primary-gray);
 }

 .newsletter_wrapper{
    width: 100%;
    padding: 160px 300px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
 }


 .newsletter_form{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .newsletter_input{
    width: 500px;
    height: 40px;
    padding-left: 15px;
    background-color: var(--secondary-black);
    outline: none;
    border: none;
 }